nav {
    background-color: white;
    color: grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
    position: relative;
}

li {
    display: inline-block;
    color: black;
}

a {
    color: #52adc8;
}

.nav_bar_box {
    padding: 16px;
    position: relative;
    font-size: 18px;
    line-height: 24px;
    text-size-adjust: 100%;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 10px;
    border-bottom-color: rgb(229, 114, 0);
    border-bottom-style: solid;
    border-bottom-width: 2px;

}

.nav_content_box {
    padding: 0px;
    margin: 0px;
}

.nav_name {
    font-size: 18px;
    font-weight: 700;
    padding-right: 120px;
    padding-left: 40px;
    padding-top: 0px;
    text-align: left;
    font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
    margin: 0px;
    line-height: 24px;
    list-style-position: outside;
    text-size-adjust: 100%;
    display: inline-block;
    color: gray;
}

.name_text {
    padding-top: 8px;
    padding-bottom: 8px;
    margin-right: 16px;
    color: gray;
}

.nav_ele {
    font-size: 18px;
    padding-right: 32px;
    padding-left: 0px;
    padding-top: 0px;
    text-align: left;
    font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
    margin: 0px;
    line-height: 24px;
    list-style-position: outside;
    text-size-adjust: 100%;
    display: inline-block;
}

/*----------------------------------------------------------------------*/
.main {
    margin-top: 32px;
    padding-left: 100px;
    padding-right: 100px;
    display: block;
    max-width: 1000px;
    height: auto;
}

.side_bar {
    z-index: 100;
    top: 2em;
    clear: both;
    font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
    font-size: 16px;
    float: left;
    margin-bottom: 18px;
    margin-right: 14px;
    width: 20%;
    box-sizing: border-box;
    position: sticky;
}

.photo_box {
    vertical-align: top;
}

.photo {
    width: 150px;
    border-color: rgb(229, 114, 0);
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    border-image-repeat: stretch;
    border-image-outset: 0;
    padding: 5px;
}

.author_content_box {
    vertical-align: top;
}

.url_ul {
    padding: 0px;
}

.url_text {
    color: black;
    text-decoration-line: none;
}

.author_url_box {
    width: 150px;

}

.intro {
    float: right;
    font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
    font-size: 18px;
    width: 73%;
    display: block;
    margin-left: 10px;
    box-sizing: border-box;
    text-size-adjust: 100%;
}

.intro_content {
    font-size: 18px;
    float: left;
}


.footer {
    border-top-color: rgb(189, 193, 196);
    background-color: rgb(242, 243, 243);
    position: absolute;
    bottom: 0em;
    width: 100%;
    clear: both;
    height: 100px;
}

.footer footer {
    clear: both;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    max-width: 100%;
    padding: 0 1em 2em;
}

.page__footer-copyright {
    font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
    font-size: .6875em;
    color: #9ba1a6;
}

.research_type {
    border-bottom-color: rgb(229, 114, 0);
    border-bottom-style: solid;
    border-bottom-width: 1.5px;
    color: #494e52;
    font-weight: 500;
    font-size: 130%;
    padding: 1%;
}

.research_block {
    font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
    margin-left: 15px;
}


.research_title {
    font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
    color: #494e52;
    margin-bottom: 0%;
}

.research_description {
    font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
    margin-top: 1%;
    margin-left: 2%;
    margin-bottom: 1%;
    line-height: 27px;
    color: rgb(73, 78, 82);
}